phantomjs_cdnurl=https://cdn.npm.taobao.org/dist/phantomjs
sass_binary_site=https://cdn.npm.taobao.org/dist/node-sass
sqlite3_binary_site=https://cdn.npm.taobao.org/dist/sqlite3
grpc_node_binary_host_mirror=https://cdn.npm.taobao.org/dist
registry=http://124.127.40.85:8810/repository/npm_group/
puppeteer_download_host=https://cdn.npm.taobao.org/dist